<div id="t3-login-form-fields">
	<f:if condition="{errorUserNotFound}">
		<f:then>
			<h4 style="margin-top: 0; line-height: 1">{f:translate(key:'errorUserNotFoundHeading', extensionName:'ed_reset_be_password')}</h4>
			<p>{f:translate(key:'errorUserNotFoundDescription', extensionName:'ed_reset_be_password')}</p>
		</f:then>
		<f:else>
			<f:if condition="{errorMultipleUsers}">
				<f:then>
					<h4 style="margin-top: 0; line-height: 1">{f:translate(key:'errorMultipleUsersHeading', extensionName:'ed_reset_be_password')}</h4>
					<p>{f:translate(key:'errorMultipleUsersDescription', extensionName:'ed_reset_be_password')}</p>
				</f:then>
				<f:else>
					<f:if condition="{errorUserFoundEmailNotValid}">
						<f:then>
							<h4 style="margin-top: 0; line-height: 1">{f:translate(key:'errorUserFoundEmailNotValidHeading', extensionName:'ed_reset_be_password')}</h4>
							<p>{f:translate(key:'errorUserFoundEmailNotValidDescription', extensionName:'ed_reset_be_password')}</p>
						</f:then>
						<f:else>
							<f:if condition="{emailSent}">
								<f:then>
									<h4 style="margin-top: 0; line-height: 1">{f:translate(key:'emailSentHeading', extensionName:'ed_reset_be_password')}</h4>
									<p>{f:translate(key:'emailSentDescription', extensionName:'ed_reset_be_password')}</p>
								</f:then>
								<f:else>
									<h4 style="margin-top: 0; line-height: 1">{f:translate(key:'emailNotSentHeading', extensionName:'ed_reset_be_password')}</h4>
									<p>{f:translate(key:'emailNotSentDescription', extensionName:'ed_reset_be_password')}</p>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
	<div class="t3-login-field clearfix">
		<div class="t3-login-interface" id="t3-login-interface-section">
			<div style="margin-top: 5px;"><a href="index.php">{f:translate(key:'goBackToLoginScreen', extensionName:'ed_reset_be_password')}</a></div>
		</div>
	</div>
</div>