<p>{f:translate(key:'initPasswordRecoveryMailGreeting', extensionName:'ed_reset_be_password', arguments: {0: name})}</p>

<p>
{f:translate(key:'initPasswordRecoveryMailDescription1', extensionName:'ed_reset_be_password', arguments: {0: websiteName})}<br/>
{passwordRecoveryLink}
</p>
<p>
{f:translate(key:'initPasswordRecoveryMailDescription2', extensionName:'ed_reset_be_password')}
</p>

<p>
{f:translate(key:'initPasswordRecoveryMailSignature', extensionName:'ed_reset_be_password', arguments: {0: signature})}
</p>