<div id="t3-login-form-fields">
	<h4 style="margin-top: 0; line-height: 1">{f:translate(key:'passwordResetHeading', extensionName:'ed_reset_be_password')}</h4>
	<p>{f:translate(key:'passwordResetDescription', extensionName:'ed_reset_be_password', arguments: {0: user.username})}</p>

	<input type="hidden" value="{emailOrUsername}" name="emailOrUsername"/>
	<input type="hidden" value="{passwordRecoveryHash}" name="passwordRecoveryHash"/>

	<f:if condition="{passwordsDoNotMatch}">
		<div id="t3-login-error" class="t3-login-alert t3-login-alert-error">
			<h2>{f:translate(key:'passwordsDoNotMatchHeading', extensionName:'ed_reset_be_password')}</h2>
			<p>{f:translate(key:'passwordsDoNotMatchDescription', extensionName:'ed_reset_be_password')}</p>
		</div>
	</f:if>

	<div class="t3-login-field" id="t3-login-password-section">
		<input type="password" id="t3-password-reset" name="newPassword" value="" placeholder="{f:translate(key:'newPassword', extensionName:'ed_reset_be_password')}" class="t3-password" />
	</div>
	<div class="t3-login-field" id="t3-login-password-repeat-section">
		<input type="password" id="t3-password-reset-repeat" name="newPasswordRepeat" value="" placeholder="{f:translate(key:'newPasswordRepeat', extensionName:'ed_reset_be_password')}" class="t3-password" />
	</div>
	<div class="t3-login-field clearfix">
		<input type="submit" name="commandLI" id="t3-password-reset-btn" value="{f:translate(key:'submit', extensionName:'ed_reset_be_password')}" class="t3-login-submit" />
	</div>
</div>