<div id="t3-login-form-fields">
	<h4 style="margin-top: 0; line-height: 1">{f:translate(key:'passwordResetErrorHeading', extensionName:'ed_reset_be_password')}</h4>
	<p>{f:translate(key:'passwordResetErrorDescription', extensionName:'ed_reset_be_password', arguments: {0: user.username})}</p>

	<div class="t3-login-field clearfix">
		<div class="t3-login-interface" id="t3-login-interface-section">
			<div style="margin-top: 5px;"><a href="index.php?showForgotPasswordScreen=1">{f:translate(key:'restartPasswordRecovery', extensionName:'ed_reset_be_password')}</a></div>
		</div>
	</div>
</div>