<div id="t3-login-form-fields">
	<h4 style="margin-top: 0; line-height: 1">{f:translate(key:'forgotPasswordHeading', extensionName:'ed_reset_be_password')}</h4>
	<p>{f:translate(key:'forgotPasswordProcessDescription', extensionName:'ed_reset_be_password')}</p>

	<input type="hidden" value="1" name="showForgotPasswordScreen"/>

	<div class="t3-login-field" id="t3-login-username-section">
		<input type="text" name="emailOrUsername" value="" placeholder="{f:translate(key:'emailOrUsername', extensionName:'ed_reset_be_password')}" class="t3-username" autofocus="autofocus" />

		<div class="t3-login-clearInputField">
			<a id="t3-username-clearIcon" style="display: none;">
				<img src="sysext/t3skin/icons/common-input-clear.png" alt="" title="" />
			</a>
		</div>
	</div>
	<div class="t3-login-field clearfix">
		<div class="t3-login-interface" id="t3-login-interface-section">
			<div style="margin-top: 5px;"><a href="index.php">{f:translate(key:'goBack', extensionName:'ed_reset_be_password')}</a></div>
		</div>

		<input type="submit" name="commandLI" id="t3-password-recovery" value="{f:translate(key:'startPasswordRecovery', extensionName:'ed_reset_be_password')}" class="t3-login-submit" />
	</div>
</div>